@font-face {
	font-family: 'Atlantis';
	src: url('fonts/AtlantisInternational.woff') format('woff');
}

body{
	position:relative;
	width:100%;
	padding:none;
	margin:0;
	background-color:#bcd8c1;
}

*{
	box-sizing: border-box;
}