$light-green: #a9d2a5;
$dark-green: #2e5542;

$light-orange: #e57a44;
$dark-orange: #a24d20;

$water: #3b5a7d;
$city: #422040;
$state: #608968;
$country: #994419;
$trail: #713415;

$paper-bg: papayawhip;
$paper-contrast:$dark-orange;